<div class="control-panel">
    <h3>Panel de Control</h3>
    <div class="button-group">
        <!-- Botón Iniciar -->
        <button 
            class="btn btn-start" 
            (click)="onStart()" 
            [disabled]="status === 'RUNNING'">
            Iniciar
        </button>

        <!-- Botón Detener -->
            <button 
            class="btn btn-stop" 
            (click)="onStop()" 
            [disabled]="status === 'STOPPED'">
            Detener
        </button>
    </div>
</div>